//TODO: not working
// @import '~w3-css/w3.css';

.caption {
  font-style: italic;
}

.colSmallAvatar {
  width: 40px;
}

.colSmallAvatar img {
  height: 30px;
}

// .flipContainer, .front, .back {
//   // width: 320px;
//   // height: 480px;
// }
//
.flipContainer {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  height: 100%;

  // border: 1px solid #ccc;
  // width: 200%;
  // height: 200%;
}

// /* flip the pane when hovered
// .flipContainer:hover .flipper, .flipContainer.hover .flipper {
//   transform: rotateY(180deg);
// }

.flipAnim {
  transform: rotateY(360deg);
}

.flipBtn {
  // @extend .w3-button;
  background-color: initial;
  float: left;
}

.closeBtn {
  // @extend .w3-button;
  background-color: initial;
  float: right;
}

// .flipContainer, .front, .back {
//   width: 320px;
//   height: 427px;
// }

.flipper {
  height: 100%;

  // width: 100%;

  transition: 0.6s;
  transform-style: preserve-3d;

  // position: absolute;
  // width: 200%;
  // height: 200%;
}

.front, .back {
  backface-visibility: hidden;

  // height: 800px;
  // width: 600px;
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  min-width: 320px;

  // width: 200%
  // position: absolute;
  // top: 0;
  // left: 0;
}

.front {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);

  // background: lightgreen;
  z-index: 2;
  min-width: 320px;
  position: absolute;
}

.back {
  // background: lightblue;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);

  // position: absolute;
}

.stampAvatar {
  // @extend .w3-circle;
  height: 60px;
  transform: translate(30px, -60px);
}
//
// .stamp {
//   display: inline-block;
//
//   // border-radius: 20px;
//   border-width: 10px;
//   border-color: #ef3e42;
//   border-style: solid;
//   color: red;
//   text-transform: uppercase;
//
//   // margin: 0 auto;
//   // font-size: 24px;
//   letter-spacing: -3px;
//
//   // padding: 0 8px;
//   opacity: 0.8;
//   transform: rotate(-10deg);
//   filter: blur(1.3px);
//   border-image: url(./grunge-stamp-30.png) 30;
// }

.textClamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  // border: 1px solid #000000;
}

.cardMini2 {
  // width: 200px;
  // height: 310px;

  // position: absolute;
  // cursor: pointer;
  // height: 100%;

  // background: brown;
  // border: solid black;

  // border-radius: 10px;
  padding: 5px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.08);
  // pointer-events: auto;
  backface-visibility: hidden;
}

// .cardMini2 img {
//   display: block;
//   margin: 0 auto;
//   width: 100%;
//   border-radius: 10px 10px 0 0;
// }

.cardMini2 h4 {
  font-size: 14px;

  // border-bottom: 1px solid #f0f0f0;
}

// .cardMini2 p {
//     font-size: 12px;
//     font-weight: 700;
//     padding: 0 10px;
//     margin: 10px 3px 0;
// }

// .no-js ul.baraja-container {
// 	width: auto;
// 	height: auto;
// 	text-align: center;
// }
//
// .no-js ul.baraja-container li {
// 	position: relative;
// 	display: inline-block;
// 	width: 200px;
// 	height: 310px;
// 	margin: 10px;
// }
//
.defImg {
  background-image: url("./example_challenge.jpg");
  height: 300px;
  width: 300px;
}

.tags {
  display: block;
  margin-bottom: 4px;
}

//TODO
.tag {
  // display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  margin-right: 2px;
  margin-top: 2px;
}

.textTrunc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.field {
  border: 1px solid white;
  margin-top: 4px;
  padding: 0;
  padding: 4px;
  min-height: 40px;
  height: 100%;
  width: 100%;

  // padding-bottom: 4px;

  legend {
    font-size: 80%;
    margin-bottom: 0;
    font-style: italic;
  }
}

.cardDetail {
  height: 100%;
}

.avatar {
  border-radius: 50%;
  border: black 2px solid;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}
