.stack {
  margin: 0 auto;
  position: relative;
  z-index: 1000;
  // height: 420px;
  padding: 0;
  list-style: none;
  pointer-events: none;
}


.bboxLine {
  stroke: black;
  stroke-width: 2;
  fill: none;
}

.stack__item {
  transition: 0.2s top, 0.2s background-position, 0.1s border-color;
  // overflow: hidden;
  // position: absolute;
  // opacity: 0;
  // -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -khtml-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
  pointer-events: auto;
}

.stack__item img {
  display: block;
  pointer-events: none;
}

/***********************************************/
/******************** yuda *********************/
/***********************************************/
.stack--yuda .stack__item--reject {
  -webkit-animation: yudaReject 0.5s forwards;
  animation: yudaReject 0.5s forwards;
}

@-webkit-keyframes yudaReject {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0,200px,0);
    transform: translate3d(0,200px,0);
  }
}

@keyframes yudaReject {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0,200px,0);
    transform: translate3d(0,200px,0);
  }
}

.stack--yuda .stack__item--accept {
  -webkit-animation: yudaAccept 0.5s forwards;
  animation: yudaAccept 0.5s forwards;
  -webkit-transform-origin: 50% 300%;
  transform-origin: 50% 300%;
}

@-webkit-keyframes yudaAccept {
  to {
    opacity: 0;
    -webkit-transform: rotate3d(0,0,1,20deg);
    transform: rotate3d(0,0,1,20deg);
  }
}

@keyframes yudaAccept {
  to {
    opacity: 0;
    -webkit-transform: rotate3d(0,0,1,20deg);
    transform: rotate3d(0,0,1,20deg);
  }
}
