.comp0 {
  background-color: green;
}

.text {
  transform: rotate(30 20,40);
}

.pureComp {
  background-color: yellow;
}

.redBg {
    background-color: red;
    border-radius: 5px;
    color: white;
    padding: 5px;
}
