$handle-size: 30px;

.cardGridCont {
  // height: 100%;
  // width: 100%;
  padding-bottom: 12px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.cardGridCont::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;

  // border-radius: 4px;

  // border-radius: 10px;
  background-color: #F5F5F5;
}

.cardGridCont::-webkit-scrollbar-thumb {
  // border-radius: 4px;
  background-color: rgba(0, 0, 45, 0.5);

  /* -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5); */
}

.handle {
  height: $handle-size !important;
  bottom: (-$handle-size) !important;

  // bottom: 20px !important;
  z-index: 100;
}

.handleBar {
  height: $handle-size;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}

.handleBar span {
  line-height: $handle-size;
}
