.card {
  // fill: 'rgba(231, 76, 60, 0.4)';
  pointer-events: all;
  cursor: pointer;
  display: inline-block;
  // border: 1px solid #ccc;
  // border-radius: 6px;
  padding: -10px 10px;
  // width: 20px;
  // height: 30px;
  // background-image: url(http://farm5.static.flickr.com/4132/5221995062_44c8f2407b.jpg)

}

